* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #222831;
}

.nav-bar {
    background-color: #31363F;
    display: flex;
    justify-content: space-between;
}

.library-logo {
    font-size: 48px;
    font-weight: 700;
    color: #EEEEEE;
    padding: 20px;
}

.links {
    padding: 20px;
    align-self: center;
}

button {
    background-color: #76ABAE;

    color: #EEEEEE;
    font-size: 16px;
    font-weight: 700;

    padding: 10px 20px 10px;

    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

::backdrop {
    background-color: #222831;
    opacity: 0.75;
}

dialog {
    background-color: #31363F;
    color: #EEEEEE;

    padding: 32px 24px 32px;

    border: none;
    border-radius: 20px;

    margin: auto;
}

input {
    &[type=text] {
        background-color: #31363F;
        border: 2px solid #EEEEEE;
        color: #EEEEEE;

        padding-left: 8px;
        border-radius: 6px;
        margin-bottom: 16px;

        height: 32px;
        width: 280px;
    }

    &:focus {
        outline: none;
    }
}

::placeholder {
    color: #bfbfbf;
}

form .form-item:last-child {
    padding-bottom: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    background-color: #31363F;
    color: #EEEEEE;

    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;

    width: 18rem;
    aspect-ratio: 6 / 9;

    padding: 20px;
    margin: 16px;

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;

    & .book-info-item:first-child {
        font-size: 1.8rem;
        font-weight: 600;
    }

    & .book-info-item:last-child {
        margin-top: 30px;

        font-size: 1.2rem;
    }

    &:hover {
        transform: translateY(-1%);
    }
}